@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  color: var(--primary-color);
  font-family: var(--primary-font);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: repeat-y;
  background-image: url('/src/images/background/bg-s.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('/src/images/background/bg-s@2x.jpg');
  }

  @media screen and ($mobile-min) {
    background-image: url('/src/images/background/bg-m.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and ($mobile-min),
    screen and (min-resolution: 192dpi) and ($mobile-min),
    screen and (min-resolution: 2dppx) and ($mobile-min) {
    background-image: url('/src/images/background/bg-m@2x.jpg');
  }

  @media screen and ($tablet-min) {
    background-image: url('/src/images/background/bg-l.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and ($tablet-min),
    screen and (min-resolution: 192dpi) and ($tablet-min),
    screen and (min-resolution: 2dppx) and ($tablet-min) {
    background-image: url('/src/images/background/bg-l@2x.jpg');
  }
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
address {
  font-style: normal;
}

button {
  @extend %flexCenter;
  color: var(--primary-color);
  cursor: pointer;
}
button,a {
  transition: color var(--transition-function), 
              border-color var(--transition-function), 
              background-color var(--transition-function), 
              fill var(--transition-function);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  &:hover,
  &:focus {
    color: currentColor;
    text-decoration: none;
  }
}

.no-scroll {
  overflow: hidden;
}
