@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  color: var(--primary-color);
  font-family: var(--primary-font);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;


  background-image: url('../images/background/productbg-1920.jpg');
     
    
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/background/productbg-1920@2x.jpg');
  }

    @media screen and ($mobile-max) {
      max-width: 787px;
    }
  
    @media screen and ($tablet-min) and ($tablet-max) {
      max-width: 1199;
         }
    
    @media screen and ($desktop-min) {
     max-width: 1900;
                 }
   
}



ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
address{
  font-style: normal;
}

.list {
  list-style: none;
}

.link{
 text-decoration: none;
}

