@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Seymour One", sans-serif;
  --primary-color: #131313;
  --secondary-color: #fcfcfc;
  --main-theme-color: #84a178;
  --accent-color: #f8d24e;
  --button-hover-focus-color: #0a8817;
  --button-disabled: #ababab;
  --palette-color-1: #aec6a5;
  --palette-color-2: #efd478;
  --palette-color-3: #d6936d;
  --rights-color: #7a7a7a;
  --border-color: #e1e1e1;
}

.button, .modal, .backdrop, .social__link, .footer__rights--text, .gallery__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__data, .contacts__desc, .contacts__address, .contacts__subtitle, .contacts__caption {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.button, .modal, .backdrop, .social__link, .footer__rights--text, .gallery__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__data, .contacts__desc, .contacts__address, .contacts__subtitle, .contacts__caption {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

body {
  color: var(--primary-color);
  font-family: var(--primary-font);
  background-image: url(../images/background/productbg-1920.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  display: inherit;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: inherit;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 400;
  font-size: 12px;
}
.section--background {
  background-color: var(--main-theme-color);
}

.section__heading {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 100;
}

.header__container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.hero__container {
  max-width: 480px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .hero__container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero__container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
  }
}
.logo {
  padding-top: 12px;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 20px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 8px;
    margin-bottom: 45px;
  }
}
.logo__mobile-menu {
  padding-left: 32px;
}

.logo-img {
  min-width: 40px;
  min-height: 37px;
}

@media screen and (max-width: 1199px) {
  .header-pages__list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-pages__list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 27px;
  }
  .header-pages__link {
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-pages__link:hover, .header-pages__link:focus {
    color: var(--accent-color);
  }
  .header-pages__link--current {
    color: var(--accent-color);
  }
}
.header__buttons {
  display: flex;
  gap: 32px;
}

@media screen and (max-width: 767px) {
  .header__buy-button {
    display: none;
  }
}
.menu__button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  margin-left: auto;
}
.menu__button:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .menu__button {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: var(--main-theme-color);
  font-family: var(--primary-font);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__container {
  position: relative;
  height: 100%;
  padding: 0px 20px 60px 20px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-button {
  position: absolute;
  top: 16px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover, .close-button:focus {
  color: var(--accent-color);
}

.mobile-menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.mobile-menu__list {
  margin-top: 50px;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.mobile-menu__link {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--primary-font);
}

.mobile-menu__link--current {
  color: var(--primary-color);
}

.mobile-menu__buy-button {
  margin-top: auto;
}

.hero__section {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 110px 0 0 0;
  background-color: var(--main-theme-color);
  padding: 110px 0 240px 0;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/hero+header/hero-bg-s.png");
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero__section {
    background-image: url("../images/hero+header/hero-bg-s@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .hero__section {
    max-width: 768px;
    padding: 118px 0 111px 0;
    background-position: contain;
    background-repeat: no-repeat;
    background-image: url("../images/hero+header/hero-bg-m.png");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__section {
    background-image: url("../images/hero+header/hero-bg-m@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .hero__section {
    max-width: 1200px;
    background-position: contain;
    background-repeat: no-repeat;
    background-image: url("../images/hero+header/hero-bg-l.png");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__section {
    background-image: url("../images/hero+header/hero-bg-l@2x.png");
  }
}
.hero__wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero__wrapper {
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrapper {
    margin-bottom: 110px;
  }
}
.hero__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 32px;
}

.hero__title--important {
  font-weight: 400;
  font-size: 34px;
  line-height: 33px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
  }
  .hero__title--important {
    font-weight: 400;
    font-size: 24px;
    line-height: 13px;
  }
}
.hero__buttons {
  display: flex;
  gap: 8px;
}

.button__products {
  align-items: center;
  padding: 10px 12px;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  min-width: 60px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__products:hover, .button__products:focus {
  border-color: var(--button-hover-focus-color);
  cursor: pointer;
}

.button__how-its-made {
  align-items: center;
  padding: 10px 12px;
  border: none;
  min-width: 80px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: var(--accent-color);
  background-color: transparent;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__how-its-made:hover, .button__how-its-made:focus {
  color: var(--button-hover-focus-color);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .hero__bottom-part {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero__bottom-part {
    display: block;
    margin-left: 217px;
  }
  .hero__title {
    margin-bottom: 20px;
  }
  .hero__text {
    margin-bottom: 10px;
    width: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--secondary-color);
  }
}
@media screen and (min-width: 1200px) {
  .hero__title--important,
.hero__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
  }
  .hero__title {
    margin-bottom: 28px;
  }
  .hero__buttons {
    gap: 12px;
  }
  .button__products {
    padding: 12px 34px;
    border-radius: 10px;
    min-width: 66px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  .button__how-its-made {
    padding: 12px 22px;
    min-width: 154px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
  .hero__bottom-part {
    margin-left: 256px;
  }
}
.hero__arrow-button .hero__arrow-default {
  padding: 10px 0;
  border: none;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: var(--secondary-color);
  fill: currentColor;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__arrow-button .hero__arrow-default:hover, .hero__arrow-button .hero__arrow-default:focus {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .hero__right-thumb {
    display: none;
  }
}
.cafes__list {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cafes__number {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-align: right;
  margin-bottom: 4px;
}

.cafes__name {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: right;
}

@media screen and (min-width: 1200px) {
  .cafes__list {
    gap: 16px;
  }
  .cafes__number {
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
  }
  .cafes__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
.about {
  background-color: var(--main-theme-color);
  padding-top: 60px;
}
.about__label {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  text-align: center;
  text-transform: uppercase;
}
.about__title {
  margin-top: 12px;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  text-align: center;
  text-transform: uppercase;
}

.about-description {
  display: flex;
}
.about-description__img {
  display: flex;
  position: relative;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
}
.about-description__img picture {
  position: absolute;
  top: 22px;
  left: 0;
}
.about-description__info p {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
}
.about-description__info p:not(:last-child) {
  margin-bottom: 4px;
}
.about-description__wrapper-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-description__button {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.about-description__button-icon {
  margin-left: 5px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .about__label {
    font-weight: 700;
    font-size: 18px;
  }
  .about__title {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 30px;
  }
  .about-description {
    flex-direction: column;
  }
  .about-description__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .about-description__img {
    width: 280px;
    height: 280px;
    margin-bottom: 62px;
  }
  .about-description__wrapper-info {
    text-align: center;
    padding: 0 50px;
  }
  .about-description__button {
    margin-top: 48px;
  }
}
@media screen and (min-width: 768px) {
  .about__label {
    font-weight: 800;
    font-size: 22px;
  }
  .about__title {
    margin-bottom: 72px;
    font-size: 34px;
  }
  .about-description {
    flex-direction: row;
  }
  .about-description__wrapper {
    margin-right: 33px;
    padding-bottom: 50px;
  }
  .about-description__img {
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 330px;
  }
  .about-description__img picture {
    top: 25px;
  }
  .about-description__wrapper-info {
    align-items: flex-start;
  }
  .about-description__info p:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-left: 16px;
    padding-right: 16px;
  }
  .about__label {
    font-weight: 800;
    font-size: 30px;
  }
  .about__title {
    margin-bottom: 82px;
    font-size: 36px;
  }
  .about-description__wrapper {
    margin-right: 100px;
    padding-bottom: 60px;
  }
  .about-description__img {
    width: 500px;
    height: 500px;
  }
  .about-description__img picture {
    top: 39px;
  }
  .about-description__wrapper-info {
    justify-content: center;
    margin-right: 121px;
  }
  .about-description__wrapper-info p {
    font-size: 16px;
  }
  .about-description__button {
    margin-top: 60px;
  }
}
.advantages {
  background-color: var(--main-theme-color);
  padding-bottom: 60px;
  width: 100%;
}
.advantages__list {
  color: var(--secondary-color);
  padding-top: 108px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 94px;
}
.advantages__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 18px;
  position: relative;
}
.advantages__title::before {
  content: "";
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -62px;
  background-color: var(--accent-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__title--cow::before {
  background-image: url("/src/images/advantages/advantages1.png");
}
.advantages__title--weight::before {
  background-size: 28px 36px;
  background-image: url("/src/images/advantages/advantages2.png");
}
.advantages__title--ice-cream::before {
  background-image: url("/src/images/advantages/advantages3.png");
}
.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .advantages__title--cow::before {
    background-image: url("/src/images/advantages/advantages1@2x.png");
  }
  .advantages__title--weight::before {
    background-size: 28px 36px;
    background-image: url("/src/images/advantages/advantages2@2x.png");
  }
  .advantages__title--ice-cream::before {
    background-image: url("/src/images/advantages/advantages3@2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    width: 100%;
    padding-bottom: 204px;
  }
  .advantages__list {
    padding-top: 48px;
    flex-direction: row;
    gap: 80px;
  }
  .advantages__item {
    flex-basis: calc((100% - 160px) / 3);
  }
  .advantages__title {
    font-weight: 700;
    font-size: 46px;
    line-height: 59px;
    margin-bottom: 16px;
    letter-spacing: 0.04em;
  }
  .advantages__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .advantages__title--cow::before {
    background-image: url("/src/images/advantages/advantages1@2x.png");
  }
  .advantages__title--weight::before {
    background-size: 28px 36px;
    background-image: url("/src/images/advantages/advantages2@2x.png");
  }
  .advantages__title--ice-cream::before {
    background-image: url("/src/images/advantages/advantages3@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    width: 100%;
    padding-bottom: 180px;
  }
  .advantages__list {
    padding-top: 60px;
    flex-direction: row;
    gap: 32px;
  }
  .advantages__item {
    flex-basis: calc((100% - 64px) / 3);
  }
  .advantages__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    margin-bottom: 16px;
    letter-spacing: 0.04em;
  }
  .advantages__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .advantages__title--cow::before {
    background-image: url("/src/images/advantages/advantages1@2x.png");
  }
  .advantages__title--weight::before {
    background-size: 28px 36px;
    background-image: url("/src/images/advantages/advantages2@2x.png");
  }
  .advantages__title--ice-cream::before {
    background-image: url("/src/images/advantages/advantages3@2x.png");
  }
}
.gallery {
  margin-top: -24px;
}
@media screen and (min-width: 768px) {
  .gallery {
    margin-top: -164px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    margin-top: -94px;
  }
}

.gallery__container {
  display: flex;
  justify-content: center;
}

.gallery__wrapper {
  background-color: var(--secondary-color);
  height: 130px;
  width: 279px;
  border-radius: 7.4px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .gallery__wrapper {
    height: 327px;
    width: 716px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__wrapper {
    height: 422px;
    width: 1013px;
    border-radius: 24px;
  }
}

.gallery__slide {
  position: absolute;
  -webkit-animation: round 12s infinite;
          animation: round 12s infinite;
  opacity: 0;
  max-width: 100%;
  border-radius: 7.4px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .gallery__slide {
    height: 327px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__slide {
    height: 422px;
    border-radius: 24px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__img {
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__img {
    border-radius: 24px;
  }
}

@-webkit-keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
.gallery__slide:nth-child(1) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.gallery__slide:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.gallery__slide:nth-child(3) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.customer-reviews {
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customer-reviews {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews {
    padding-bottom: 100px;
  }
}

.swiper-box {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 22px;
}
.swiper-box .swiper-pagination {
  bottom: 0px;
}
.swiper-box .swiper-pagination-bullet {
  background-color: var(--main-theme-color);
}
@media screen and (min-width: 768px) {
  .swiper-box {
    padding-bottom: 40px;
  }
}

.reviews-list__pic {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.reviews-list__box {
  background-color: var(--main-theme-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 34px 39px;
}
@media screen and (max-width: 767px) {
  .reviews-list__box {
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reviews-list__box {
    width: 705px;
    border-radius: 10px;
    padding: 29px 80px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-list__box {
    width: 968px;
    border-radius: 24px;
    padding: 39px 109px 47px 109px;
  }
}

.reviews-list__text {
  color: var(--secondary-color);
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.6;
}
@media screen and (min-width: 768px) {
  .reviews-list__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
  }
}

.reviews-list__text_color {
  color: var(--primary-color);
}

.contacts {
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--main-theme-color);
  margin-top: -340px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-top: -300px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-top: -100px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    gap: 30px;
  }
}

.contacts__item {
  width: 280px;
  padding-left: 32px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  background: var(--secondary-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    width: 220px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    width: 368px;
  }
}

.contacts__caption {
  height: 16px;
  background: var(--accent-color);
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.contacts__subtitle {
  color: var(--primary-color);
  display: block;
  margin-top: 20px;
}

.contacts__address {
  color: var(--palette-color-1);
  margin-top: 8px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}

.contacts__desc {
  color: var(--primary-color);
  display: block;
}

.contacts__list-schedule {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}

.contacts__item-schedule {
  margin-top: 24px;
}

.contacts__text {
  display: block;
  color: var(--pale-color);
}

.contacts__data {
  line-height: 18px;
  color: var(--primary-color);
  margin-top: 24px;
}

.contacts__mail {
  display: block;
  color: var(--primary-color);
}

.contacts__tel {
  display: block;
  color: var(--primary-color);
}

.contacts__buttons-list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.button_one {
  width: 196px;
  height: 42px;
  border: 0;
  background: #F8D24E;
  border-radius: 10px;
}

.button_two {
  width: 196px;
  height: 42px;
  background-color: transparent;
  border: 2px solid #F8D24E;
  border-radius: 10px;
}

.footer {
  background-color: var(--main-theme-color);
  padding-top: 20px;
}
.footer__сontainer {
  display: flex;
  flex-direction: column;
}
.footer__rights {
  width: 100%;
  border-top: 1px solid var(--border-color);
  padding-right: 0px;
  padding-left: 0px;
}
.footer__rights--text {
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0.02em;
  width: 160px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--rights-color);
  padding-top: 16px;
  padding-bottom: 62px;
}
.footer__list {
  list-style-type: none;
}
.footer__item--title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: var(--secondary-color);
  text-transform: uppercase;
  width: 234px;
}
.footer__item--subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--secondary-color);
  width: 232px;
  word-wrap: normal;
  text-transform: uppercase;
}
.footer__item:not(:last-child) {
  margin-bottom: 16px;
}
.footer__item:last-child {
  margin-bottom: 42px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 38px;
}
.social__list__item {
  flex-basis: calc((100% - 56px) / 3);
}
.social__link {
  border-radius: 50%;
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: var(--accent-color);
  fill: var(--main-theme-color);
}
.social__link:hover, .social__link:focus {
  fill: var(--secondary-color);
}
.social__logo {
  width: 19px;
  height: 19px;
}
.social__contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
}
.social__contact--link {
  color: var(--secondary-color);
  text-decoration: none;
}
.social__contact--link:hover,
.social__contact :focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__сontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__item--title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    width: 340px;
  }
  .footer__item--subtitle {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    width: 352px;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer__item:last-child {
    margin-bottom: 32px;
  }
  .footer__rights {
    width: 100%;
    border-top: 1px solid var(--border-color);
  }
  .footer__rights--text {
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    width: 320px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .social {
    display: flex;
    padding-bottom: 56px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .social__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    padding-top: 68px;
    margin-bottom: 32px;
  }
  .social__list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .social__link {
    width: 34px;
    height: 34px;
  }
  .social__logo {
    width: 20px;
    height: 20px;
  }
  .social__contact {
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
  }
  .footer__сontainer {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__item--title {
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    margin-bottom: 42px;
    width: 497px;
  }
  .footer__item--subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: var(--secondary-color);
    width: 504px;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer__rights {
    margin-left: auto;
    margin-right: auto;
    width: 1168px;
  }
  .footer__rights--text {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    width: 320px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .social {
    padding-bottom: 60px;
  }
  .social__list {
    padding-top: 12px;
    margin-bottom: 40px;
  }
  .social__contact {
    font-weight: 700;
    font-size: 16px;
    line-height: 186%;
    padding-bottom: 60px;
  }
}
.backdrop {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 15px;
  scale: 1;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  scale: 1.2;
}

.modal {
  position: relative;
  flex-direction: column;
  max-width: 480px;
  padding: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--secondary-color);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}
.modal__heading {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.modal__iframe {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}
.modal__description {
  margin-top: 20px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  fill: var(--primary-color);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--button-hover-focus-color);
}

.modal__button {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 568px;
    max-width: 568px;
    padding: 32px 60px;
  }
  .modal__heading {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
  }
  .modal__iframe {
    margin-top: 32px;
  }
  .modal__description {
    margin-top: 32px;
  }
  .modal__button {
    margin-top: 32px;
  }
  .modal__close {
    width: 20px;
    height: 20px;
  }
}
.button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  padding: 12px 34px;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  background-color: var(--accent-color);
}
.button:hover, .button:focus {
  background-color: var(--button-hover-focus-color);
  border-color: var(--button-hover-focus-color);
}
.button:focus {
  color: var(--secondary-color);
}
.button:disabled {
  background-color: var(--button-disabled);
  border-color: var(--button-disabled);
}
.button--inverse {
  background-color: transparent !important;
}

.button--anchor {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}
.button--anchor:hover {
  color: var(--button-hover-focus-color);
  text-decoration: none;
}
.button--anchor:focus {
  color: var(--secondary-color);
  text-decoration: none;
}
.button--anchor:disabled {
  color: var(--button-disabled);
}/*# sourceMappingURL=index.css.map */