@mixin font($weight, $size, $line-height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin grid($mobile-raw-elements, $tab-desk-raw-elements, $gap) {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;

  &__item {
    flex-basis: calc(
      (100% - (($mobile-raw-elements - 1) * $gap)) / $mobile-raw-elements);
  }

  @media screen and ($tablet-min) {
    &__item {
      flex-basis: calc((100% - (($tab-desk-raw-elements - 1) * $gap)) / $tab-desk-raw-elements);
    }
  }
}
