@mixin font($weight, $size, $line-height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin grid($row-elements, $gap) {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;

  &__item {
    flex-basis: calc(
      (100% - (($row-elements - 1) * $gap)) / $row-elements
    );
  }
}
