%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
%text-style {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
}
