<section class="advantages">
    <div class="container">
        <h2 class="title visually-hidden">Advantages</h2>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <p class="advantages__title advantages__title--cow">
                    721
                </p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <p class="advantages__title advantages__title--weight">
                    16kg
                </p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <p class="advantages__title advantages__title--ice-cream">
                    84
                </p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section> 