<section class="customer-reviews container">
  <h2 class="title visually-hidden">Testimonials</h2>
  <div class="swiper-box swiper-container">
    <ul class="reviews-list list swiper-wrapper">
      <li class="reviews-list__item swiper-slide">
        <div class="reviews-list__box">
          <p class="reviews-list__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>

        <p class="reviews-list__text reviews-list__text_color">
          Emily, Los Angeles
        </p>
      </li>
      <li class="reviews-list__item swiper-slide">
        <div class="reviews-list__box">
          <p class="reviews-list__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>

        <p class="reviews-list__text reviews-list__text_color">
          Diana, Chicago
        </p>
      </li>
      <li class="reviews-list__item swiper-slide">
        <div class="reviews-list__box">
          <p class="reviews-list__text">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
        </div>

        <p class="reviews-list__text reviews-list__text_color">
          Sam, Los Angeles
        </p>
      </li>
      <li class="reviews-list__item swiper-slide">
        <div class="reviews-list__box">
          <p class="reviews-list__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>

        <p class="reviews-list__text reviews-list__text_color">
          Bryan, New-York
        </p>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
