<footer class="footer">
  <div class="container footer__сontainer">
    <div class="footer__wrapper">
      <p class="footer__subtitle">homemade ice cream made</p>
      <p class="footer__title">with passion</p>
    </div>
    <div class="social">
      <ul class="social__list">
        <li class="social__item">
          <a
            href="https://github.com/"
            target="_blank"
            rel="noreferrer noopener"
            class="social__link"
          >
            <svg class="social__logo">
              <use href="./images/sprite/icons.svg#icon-github"></use></svg
          ></a>
        </li>
        <li class="social__item">
          <a
            href="https://web.telegram.org/"
            target="_blank"
            rel="noreferrer noopener"
            class="social__link"
          >
            <svg class="social__logo">
              <use href="./images/sprite/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="social__item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
            class="social__link"
          >
            <svg class="social__logo">
              <use href="./images/sprite/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
      <div class="social__contact">
        <p class="social__contact--text">Feel free to contact&nbsp;</p>
        <a class="social__contact--link link" href="tel:+610383766284"
          >+61 (0) 383 766 284
        </a>
      </div>
    </div>
  </div>
  <div class="footer__rights">
    <p class="footer__rights--text">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
