<link rel="stylesheet" href="../css/index.css" />
<footer class="footer">
  <div class="сontainer footer__сontainer">
    <p>homemade ice cream made</p>
    <p>with passion</p>
    <div class="social">
      <ul class="social__list">
        <li class="social__itam">
          <a class="social__link">
            <svg class="social__link--logo" width="19" height="19">
              <use href="./images/sprite/icons.svg#icon-github"></use></svg
          ></a>
        </li>
        <li class="social__itam">
          <a class="social__link">
            <svg class="social__link--logo" width="19" height="19">
              <use href="./images/sprite/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="social__itam">
          <a class="social__link">
            <svg class="social__link--logo" width="19" height="19">
              <use href="./images/sprite/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <p>
      Feel free to contact
      <a href="tel:+610383766284"> +61 (0) 383 766 284 </a>
    </p>
    <p>© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
