<footer class="footer">
  <div class="container footer__сontainer">
    <ul class="footer__list">
      <li class="footer__item">
        <p class="footer__item--subtitle">homemade ice cream made</p>
      </li>
      <li class="footer__item">
        <p class="footer__item--title">with passion</p>
      </li>
    </ul>
    <div class="social">
      <ul class="social__list">
        <li class="social__itam">
          <a
            href="https://github.com/Tsylepa/ice-cream-team-project"
            traget="_blank"
            class="social__link"
          >
            <svg class="social__link--logo" width="19" height="19">
              <use href="./images/sprite/icons.svg#icon-github"></use></svg
          ></a>
        </li>
        <li class="social__itam">
          <a href="https://t.me/icecream" traget="_blank" class="social__link">
            <svg class="social__link--logo" width="19" height="19">
              <use href="./images/sprite/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="social__itam">
          <a
            href="https://www.facebook.com/groups/119442578121701"
            traget="_blank"
            class="social__link"
          >
            <svg class="social__link--logo" width="19" height="19">
              <use href="./images/sprite/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <div class="footer__contact">
      <p class="footer__contact--text">Feel free to contact&nbsp;</p>
      <a class="footer__contact--link" href="tel:+610383766284"
        >+61 (0) 383 766 284
      </a>
    </div>
  </div>
  <div class="footer__rights">
    <p class="footer__rights--text">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
