<section class="hero__section">
  <div class="hero__container">
    <div class="hero__wrapper">
      <div class="hero__left-thumb">
        <h1 class="hero__title">
          ice cream <br />
          made with <br />
          <span class="hero__title--important">passion</span>
        </h1>
        <ul class="hero__buttons list">
          <li>
            <button type="button" class="button--products">Products</button>
          </li>
          <li>
            <button type="button" class="button--made">How it’s made?</button>
          </li>
        </ul>
      </div>
      <div class="hero__right-thumb">
        <ul class="cafes__list list">
          <li class="cafes__item">
            <p class="cafes__number">16</p>
            <p class="cafes__name">cafes</p>
          </li>
          <li class="cafes__item">
            <p class="cafes__number">23</p>
            <p class="cafes__name">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero__bottom-part">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="hero__arrow-button" type="button">
        <svg class="hero__arrow-default" width="40" height="0">
          <use href="./images/sprite/icons.svg#icon-arrow-default"></use>
        </svg>
        <svg class="hero__arrow-focus" width="50" height="0">
          <use href="./images/sprite/icons.svg#icon-arrow-default"></use>
        </svg>
        <svg class="hero__arrow-hover" width="50" height="0">
          <use href="./images/sprite/icons.svg#icon-arrow-default"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
