<include src="./partials/header.html"></include>
<header class="header">
  <div class="header__container">
    <a href="#" class="logo">
      <picture>
        <source
          srcset="./images/Logo/logo-l.png 1x, ./images/Logo/logo-l@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/Logo/logo-m.png 1x, ./images/Logo/logo-m@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/Logo/logo-s.png 1x, ./images/Logo/logo-s@2x.png 2x"
          media="(min-width: 480px)"
        />
        <img
          class="logo-img"
          src="./images/Logo/logo-s.png"
          alt="Logo ice-cream"
        />
      </picture>
    </a>
    <ul class="header-pages__list list">
      <li class="header-pages__item">
        <a
          class="header-pages__link link header-pages__link--current link"
          href="#home"
          >Home</a
        >
      </li>
      <li class="header-pages__item">
        <a class="header-pages__link link" href="#how-it's-made?"
          >How it’s made?</a
        >
      </li>
      <li class="header-pages__item">
        <a class="header-pages__link link" href="#our-products">Our products</a>
      </li>
      <li class="header-pages__item">
        <a class="header-pages__link link" href="#contact">Contact</a>
      </li>
    </ul>
    <div class="header__buttons">
      <button type="button" class="menu__btn" data-menu-open>
        <svg width="32" height="32">
          <use href="./images/sprite/icons.svg#icon-burger"></use>
        </svg>
      </button>
      <button class="header__buy-btn" type="button">Buy now</button>
    </div>
  </div>
  <div class="mobile-menu">
    <div class="container mobile-menu__container">
      <a href="#" class="logo logo__mobile-menu">
        <picture>
          <source
            srcset="./images/Logo/logo-l.png 1x, ./images/Logo/logo-l@2x.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./images/Logo/logo-m.png 1x, ./images/Logo/logo-m@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/Logo/logo-s.png 1x, ./images/Logo/logo-s@2x.png 2x"
            media="(min-width: 480px)"
          />
          <img
            class="logo-img"
            src="./images/Logo/logo-s.png"
            alt="Logo ice-cream"
          />
        </picture>
      </a>
      <button class="close-btn">
        <svg class="mobile-menu__close-btn" width="32" height="32">
          <use href="./images/sprite/icons.svg#icon-close-button"></use>
        </svg>
      </button>
      <div class="mobile-menu__wrapper">
        <ul class="mobile-menu__list list">
          <li class="mobile-menu__item">
            <a
              class="mobile-menu__link link mobile-menu__link--current link"
              href="#home"
              >Home</a
            >
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#how-it's-made?"
              >How it’s made?</a
            >
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#our-products"
              >Our products</a
            >
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#contact">Contact</a>
          </li>
        </ul>
        <button type="button" class="mobile-menu__buy-btn">Buy now</button>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="hero__section">
    <div class="hero__wrapper">
      <div class="hero__left-thumb">
        <h1 class="hero__title">
          ice cream <br />
          made with <br />
          <span class="hero__title--important">passion</span>
        </h1>
        <ul class="hero__buttons list">
          <li>
            <button type="button" class="button__products">Products</button>
          </li>
          <li>
            <button type="button" class="button__how-its-made">
              How it’s made?
            </button>
          </li>
        </ul>
      </div>
      <div class="hero__right-thumb">
        <ul class="cafes__list list">
          <li class="cafes__item">
            <p class="cafes__number">16</p>
            <p class="cafes__name">cafes</p>
          </li>
          <li class="cafes__item">
            <p class="cafes__number">23</p>
            <p class="cafes__name">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
      <button class="arrow-btn" type="button">
        <svg class="hero__arrow-default" width="40" height="0">
          <use href="./images/sprite/icons.svg#icon-arrow-default"></use>
        </svg>
        <svg class="hero__arrow-focus" width="40" height="0">
          <use href="./images/sprite/icons.svg#icon-arrow-default"></use>
        </svg>
        <svg class="hero__arrow-hover" width="40" height="0">
          <use href="./images/sprite/icons.svg#icon-arrow-default"></use>
        </svg>
      </button>
    </p>
  </section>
</main>
