<section class="hero__section" id="home">
  <div class="hero__container">
    <div class="hero__wrapper">
      <div class="hero__left-thumb">
        <h1 class="hero__title">
          ice cream <br />
          made with <br />
          <span class="hero__title--important">passion</span>
        </h1>
        <div class="hero__buttons list">
          <a class="button--products link" href="#products">Products</a>
          <a class="button--made link modal-open-button" href="#about">
            How it’s made?
          </a>
        </div>
      </div>
      <div class="hero__right-thumb">
        <ul class="cafes__list list">
          <li class="cafes__item">
            <p class="cafes__number">16</p>
            <p class="cafes__name">cafes</p>
          </li>
          <li class="cafes__item">
            <p class="cafes__number">23</p>
            <p class="cafes__name">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero__bottom-part">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button
        class="hero__arrow-button button--anchor modal-open-button"
        modal="#modal-win-ing"
        type="button"
        aria-label="go to modal"
      >
        <svg class="button--anchor-icon">
          <use
            class="hero__arrow-default"
            href="./images/sprite/icons.svg#icon-arrow-default"
          ></use>
          <use
            class="hero__arrow-hover"
            href="./images/sprite/icons.svg#icon-arrow-hover"
          ></use>
          <use
            class="hero__arrow-focus"
            href="./images/sprite/icons.svg#icon-arrow-focus"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
