<div class="backdrop is-hidden">
    <div class="modal">
        <button type="button" class="modal__button-close" data-modal-close>
                <svg class="modal__close">
                    <use href="/src/images/Sprite/icons.svg#icon-close-button" aria-label="button close window"></use>
                </svg>
        </button>
        <b>Thank you for your interest in owning an Ice Cream shop</b>
        <p>
            Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.
        </p>
        <form>
            <label>
            <input type="text" name="input-name" placeholder="Name">
        </label>
        <label>
            <input type="text" name="input-phone" placeholder="Phone">
        </label>
        <label>
            <input type="text" name="input-email" placeholder="Email">
        </label>
        <textarea name="textarea-comment" placeholder="Comment"></textarea>
        <button type="submit">Submit</button>
        </form>
    </div>
</div>        