<div class="backdrop">
  <div class="modal">
    <h2 class="modal__heading">Our Locations</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20796.368594958538!2d34.527786563190936!3d49.590114564337945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2spt!4v1665168729866!5m2!1suk!2spt"
      width="224"
      height="200"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <button class="button" href="https://goo.gl/maps/yhJg7wT4abAGQSNY9">Open map</button>
  </div>
</div>
