<div class="backdrop">
  <div class="modal">
    <h2 class="modal__heading">How it’s made?</h2>
    <iframe
      width="224"
      height="200"
      src="https://www.youtube.com/embed/xrbKIyBFAFM"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
