<div class="backdrop is-hidden" id="read-more">
  <div class="modal">
    <svg class="modal__close pauseYoutube">
      <use href="/src/images/sprite/icons.svg#icon-close-button"></use>
    </svg>
    <h2 class="modal__heading">How it’s made?</h2>
    <iframe
      class="modal__iframe"
      id="Youtube"
      src="https://www.youtube.com/embed/xrbKIyBFAFM"
      title="YouTube video player"
      frameborder="0"
      height="200"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="modal__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
