<div class="backdrop is-hidden">
    <div class="modal">
        <button type="button" class="modal__button-close" data-modal-close>
                <svg class="modal__close">
                    <use href="/src/images/Sprite/icons.svg#icon-close-button" aria-label="button close window"></use>
                </svg>
        </button>
        <h2>Chololate icecream</h2>
        <div class="ellipse">
            <div class="ellipse__bgrimg"></div>
        </div>
        <ul>
            <li>
                <p>
                    <p>320</p>
                    kcal
                </p>
            </li>
            <li>
             <p>
                    <p>320</p>
                    kcal
            </p>   
            </li>
            <li>
                <p>
                    <p>320</p>
                    kcal
                </p>
            </li>
            <li>
                <p>
                    <p>320</p>
                    kcal
                </p>
            </li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>
                <p>Milk</p>
                <p>100ml</p>
            </li>
            <li>
                <p>Belgian chocolate</p>
                <p>20g</p>
            </li>
            <li>
                <p>Cream</p>
                <p>150 ml</p>
            </li>
            <li>
                <p>Cocoa powder</p>
                <p>30g</p>
            </li>
            <li>
                <p>Sugar</p>
                <p>40g</p>
            </li>
            <li>
                <p>Vanilla sugar</p>
                <p>10g</p>
            </li>
        </ul>
        <form name="form-modal-ingradient">
            <label>
                <input type="text" name="input-name" placeholder="Name">
            </label>
            <label>
                <input type="text" name="input-phone" placeholder="Phone">
            </label>
            <textarea name="textarea-comment" placeholder="Comment"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>        