<div class="backdrop is-hidden">
    <div class="modal">
        <button type="button" class="modal__button-close" data-modal-close>
                <svg class="modal__close">
                    <use href="/src/images/Sprite/icons.svg#icon-close-button" aria-label="button close window"></use>
                </svg>
        </button>
        <b class="modal__title">Buy now</b>
        <form name="form-modal-buynow" class="form-modal">
        <ul>
            <li>
                <label>
                 <input type="checkbox"  name="ice-cream"> 
                </label>
                <div>
                    <div></div>
                    <div></div>
                    <p>ice cream</p>
                </div>
            </li>
            <li>
                <label>
                 <input type="checkbox"  name="ice-cream"> 
                </label>
                <div>
                    <div></div>
                    <div></div>
                     <p>ice coffee</p>
                </div>               
            </li>
            <li>
                <label>
                 <input type="checkbox"  name="ice-cream"> 
                </label>
                <div>
                    <div></div>
                    <div></div>
                     <p>ice coffee</p>
                </div>
            </li>
        </ul>
        <label>
            <input type="text" name="input-name" placeholder="Name">
        </label>
        <label>
            <input type="text" name="input-phone" placeholder="Phone">
        </label>
        <textarea name="textarea-comment" placeholder="Comment"></textarea>
        <button type="submit">Submit</button>
        </form>
        
    </div>
</div>