<section class="product section" id="products">
  <div class="container product__content">
    <p class="product__label wow fadeInUp">100% natural</p>
    <h2 class="product__title wow fadeInUp">products</h2>
    <ul class="grid list">
      <li class="grid__item wow fadeInUp">
        <article class="production">
          <h3 class="production__name">ICE CREAM</h3>
          <p class="production__description first-desc">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button
            type="button"
            class="button--anchor production__button modal-open-button"
            modal="#modal-win-ing"
            aria-label="go to modal"
          >
            <svg class="button--anchor-icon">
              <use
                class="hero__arrow-default"
                href="./images/sprite/icons.svg#icon-arrow-default"
              ></use>
              <use
                class="hero__arrow-hover"
                href="./images/sprite/icons.svg#icon-arrow-hover"
              ></use>
              <use
                class="hero__arrow-focus"
                href="./images/sprite/icons.svg#icon-arrow-focus"
              ></use>
            </svg>
          </button>
        </article>
      </li>
      <li class="grid__item wow fadeInUp" data-wow-delay="500ms">
        <article class="production">
          <h3 class="production__name">ice coffee</h3>
          <p class="production__description">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button
            type="button"
            class="button--anchor production__button modal-open-button"
            modal="#modal-win-ing"
            aria-label="go to modal"
          >
            <svg class="button--anchor-icon">
              <use
                class="hero__arrow-default"
                href="./images/sprite/icons.svg#icon-arrow-default"
              ></use>
              <use
                class="hero__arrow-hover"
                href="./images/sprite/icons.svg#icon-arrow-hover"
              ></use>
              <use
                class="hero__arrow-focus"
                href="./images/sprite/icons.svg#icon-arrow-focus"
              ></use>
            </svg>
          </button>
        </article>
      </li>
      <li class="grid__item wow fadeInUp" data-wow-delay="1s">
        <article class="production">
          <h3 class="production__name">milkshakes</h3>
          <p class="production__description third-desc">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button
            type="button"
            class="button--anchor production__button modal-open-button"
            modal="#modal-win-ing"
            aria-label="go to modal"
          >
            <svg class="button--anchor-icon">
              <use
                class="hero__arrow-default"
                href="./images/sprite/icons.svg#icon-arrow-default"
              ></use>
              <use
                class="hero__arrow-hover"
                href="./images/sprite/icons.svg#icon-arrow-hover"
              ></use>
              <use
                class="hero__arrow-focus"
                href="./images/sprite/icons.svg#icon-arrow-focus"
              ></use>
            </svg>
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>
