<section class="product section">
    <div class="container product__content">
        <p class="product__label">100% natural</p>
        <h1 class="product__title">products</h1>
        <ul class="grid list">
            <li class="grid__item">
                <article class="production">
                    <h3 class="production__name">ice cream</h3>
                    <p class="production__description">Soft ice cream with a delicate taste. Made with milk, cream,
                        sugar and natural stabilizer</p>
                    <button type="button" class="button production__button" aria-label="go to modal">
                        <svg class="button__icon" width="40" height="0">
                            <use href="./images/Sprite/icons.svg#icon-arow-focus"></use>
                        </svg>
                    </button>
                </article>
            </li>
            <li class="grid__item">
                <article class="production">
                    <h3 class="production__name">ice coffee</h3>
                    <p class="production__description">Fragrant invigorating drink created from 100% natural ingredients
                        without the use of preservatives and flavor enhancers</p>
                    <button type="button" class="button production__button" aria-label="go to modal">
                        <svg class="button__icon" width="40" height="0">
                            <use href="./images/Sprite/icons.svg#icon-arow-focus"></use>
                        </svg>
                    </button>
                </article>
            </li>
            <li class="grid__item">
                <article class="production">
                    <h3 class="production__name">milkshakes</h3>
                    <p class="production__description">Sweet drinks based on milk and ice cream, supplemented with
                        syrups, fruits, berries and other sweets of your choice</p>
                    <button type="button" class="button production__button" aria-label="go to modal">
                        <svg class="button__icon" width="40" height="0">
                            <use href="./images/Sprite/icons.svg#icon-arow-focus"></use>
                        </svg>
                    </button>
                </article>
            </li>
        </ul>
    </div>
</section>