.backdrop {
  position: fixed;
  z-index: 99999;
  @extend %flexCenter;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 15px;
  scale: 1;
  opacity: 1;
  overflow-y: scroll;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.1);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    scale: 1.2;
  }
}
