.backdrop {
  position: fixed;
  z-index: 99999;
  @extend %flexCenter;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  overflow-y: scroll;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.1);
  transition: scale var(--transition-function),
    opacity var(--transition-function), visibility var(--transition-function);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    scale: 1.2;
  }
}
