.about {
    background-color: var(--main-theme-color);
    padding: 60px 16px;

    &__label {
        font-family: var(--primary-font);
        color: var(--secondary-color);
        font-weight: 800;
        font-size: 30px;
        line-height: 1.23px;
        text-align: center;
        text-transform: uppercase;
    }

    &__title {
        margin-top: 12px;
        margin-bottom: 82px;
        font-family: var(--secondary-font);
        color: var(--secondary-color);
        font-size: 36px;
        line-height: 1.25px;
        text-align: center;
        text-transform: uppercase;
    }
}

.about-description {
    // display: flex;

    &__img {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 500px;
        height: 500px;

        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
        border-radius: 50%;
    }

    &__info {
        p {
            font-family: var(--primary-font);
            color: var(--secondary-color);
            font-size: 16px;
            line-height: 1.76;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
}