.about {
    background-color: var(--main-theme-color);
    padding: 60px 16px;

    &__label {
        margin-bottom: 12px;
        font-family: var(--primary-font);
        color: var(--secondary-color);
        font-weight: 800;
        font-size: 30px;
        line-height: 1.23px;
        text-align: center;
        text-transform: uppercase;
    }

    &__title {
        margin-bottom: 82px;
        font-family: var(--secondary-font);
        color: var(--secondary-color);
        font-size: 36px;
        line-height: 1.25px;
        text-align: center;
        text-transform: uppercase;
    }
}