.advantages {
  background-color: var(--main-theme-color);
  padding-top: 55px;
  padding-bottom: 60px;
  width: 100%;

  &__list {
    color: var(--secondary-color);
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 94px;
  }

  &__title {
    @include font(700, 36px, 42px);
    margin-bottom: 18px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 50%;
      left: 50%;
      transform: translateX(-50%);
      top: -62px;
      background-color: var(--accent-color);
      border-radius: 50%;
      height: 50px;
      width: 50px;
      background-size: 36px 36px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--cow::before {
      background-image: url('/src/images/advantages/advantages1.png');
    }

    &--weight::before {
      background-size: 28px 36px;
      background-image: url('/src/images/advantages/advantages2.png');
    }

    &--ice-cream::before {
      background-image: url('/src/images/advantages/advantages3.png');
    }
  }

  &__text {
    @include font(700, 12px, 170%);
  }
}

@media screen and ($mobile-max) and (min-device-pixel-ratio: 2),
  screen and ($mobile-max) and (-webkit-min-device-pixel-ratio: 2),
  screen and ($mobile-max) and (min-resolution: 192dpi),
  screen and ($mobile-max) and (min-resolution: 2dppx) {
  .advantages__title {
    &--cow::before {
      background-image: url('/src/images/advantages/advantages1@2x.png');
    }

    &--weight::before {
      background-size: 28px 36px;
      background-image: url('/src/images/advantages/advantages2@2x.png');
    }

    &--ice-cream::before {
      background-image: url('/src/images/advantages/advantages3@2x.png');
    }
  }
}

@media screen and ($tablet-min) and ($tablet-max) {
  .advantages {
    width: 100%;
    padding-bottom: 205px;
    padding-top: 65px;

    &__list {
      padding-left: 44px;
      padding-right: 44px;
      flex-direction: row;
      gap: 80px;
    }

    &__item {
      flex-basis: calc((100% - ((3 - 1) * 80px)) / 3);
    }

    &__title {
      @include font(700, 48px, 59px);
      margin-bottom: 16px;
      letter-spacing: 0.04em;
    }

    &__text {
      @include font(400, 14px, 174%);
      letter-spacing: 0.02em;
    }
  }
}

@media screen and ($tablet-min) and (min-device-pixel-ratio: 2),
  screen and ($tablet-min) and (-webkit-min-device-pixel-ratio: 2),
  screen and ($tablet-min) and (min-resolution: 192dpi),
  screen and ($tablet-min) and (min-resolution: 2dppx) {
  .advantages__title {
    &--cow::before {
      background-image: url('/src/images/advantages/advantages1@2x.png');
    }

    &--weight::before {
      background-size: 28px 36px;
      background-image: url('/src/images/advantages/advantages2@2x.png');
    }

    &--ice-cream::before {
      background-image: url('/src/images/advantages/advantages3@2x.png');
    }
  }
}

@media screen and ($desktop-min) {
  .advantages {
    width: 100%;
    padding-bottom: 180px;
    padding-top: 120px;
    padding-bottom: 204px;

    &__list {
      padding-left: 16px;
      padding-right: 16px;
      flex-direction: row;
      gap: 32px;
    }

    &__item {
      flex-basis: calc((100% - ((3 - 1) * 32px)) / 3);
    }

    &__title {
      @include font(700, 58px, 71px);
      margin-bottom: 16px;
      letter-spacing: 0.04em;
    }

    &__text {
      @include font(400, 16px, 176%);
      letter-spacing: 0.02em;
    }
  }
}

@media screen and ($desktop-min) and (min-device-pixel-ratio: 2),
  screen and ($desktop-min) and (-webkit-min-device-pixel-ratio: 2),
  screen and ($desktop-min) and (min-resolution: 192dpi),
  screen and ($desktop-min) and (min-resolution: 2dppx) {
  .advantages__title {
    &--cow::before {
      background-image: url('/src/images/advantages/advantages1@2x.png');
    }

    &--weight::before {
      background-size: 28px 36px;
      background-image: url('/src/images/advantages/advantages2@2x.png');
    }

    &--ice-cream::before {
      background-image: url('/src/images/advantages/advantages3@2x.png');
    }
  }
}
