.footer {
  background-color: var(--main-theme-color);
  &__сontainer {
    display: flex;
    flex-direction: column;
  }
  &__rights {
    width: 100%;
    border-top: 1px solid var(--border-color);
    padding-right: 0px;
    padding-left: 0px;
    &--text {
      @include font(700, 14px, 152%);
      @extend %flexCenter;
      letter-spacing: 0.02em;
      width: 160px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: var(--rights-color);
      padding-top: 16px;
      padding-bottom: 62px;
    }
  }
  &__list {
    list-style-type: none;
  }
  &__item {
    &--title {
      @include font(700, 34px, 41px);
      color: var(--secondary-color);
      text-transform: uppercase;
      width: 234px;
    }
    &--subtitle {
      @include font(700, 18px, 22px);
      color: var(--secondary-color);
      width: 232px;
      word-wrap: normal;
      text-transform: uppercase;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 16px;
  }
  &__item:last-child {
    margin-bottom: 42px;
  }
}

.social {
  &__list {
    @include grid(3, 3, 28px);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 38px;
  }
  &__link {
    @extend %flexCenter;
    border-radius: 50%;
    padding: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: var(--accent-color);
    fill: var(--main-theme-color);
    &:hover,
    &:focus {
      fill: var(--secondary-color);
    }
    &--logo {
      width: 19px;
      height: 19px;
    }
  }
  &__contact {
    @include font(700, 12px, 186%);
    letter-spacing: 0.02em;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
    &--link {
      color: var(--secondary-color);
      text-decoration: none;
    }
  }
}
@media screen and ($tablet-min) and ($tablet-max) {
  .footer {
    &__сontainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__item {
      &--title {
        @include font(700, 48px, 59px);
        width: 340px;
      }
      &--subtitle {
        @include font(700, 26px, 32px);
        width: 352px;
      }
    }
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
    &__item:last-child {
      margin-bottom: 32px;
    }
    &__rights {
      width: 100%;
      border-top: 1px solid var(--border-color);
      &--text {
        @include font(700, 14px, 152%);
        width: 320px;
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }
  }
  .social {
    display: flex;
    padding-bottom: 56px;
    flex-wrap: wrap;
    flex-direction: column;
    &__list {
      @include grid(3, 3, 30px);
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      list-style-type: none;
      padding-top: 68px;
      margin-bottom: 32px;
    }
    &__link {
      width: 34px;
      height: 34px;
      &--logo {
        width: 20px;
        height: 20px;
      }
    }
    &__contact {
      @include font(700, 14px, 186%);
      display: flex;
      justify-content: flex-end;
      padding-bottom: 56px;
    }
  }
}

@media screen and ($desktop-min) {
  .footer {
    &__сontainer {
      width: 100%;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__item {
      &--title {
        @include font(700, 58px, 71px);
        margin-bottom: 42px;
        width: 497px;
      }
      &--subtitle {
        @include font(400, 30px, 37px);
        color: var(--secondary-color);
        width: 504px;
      }
    }
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
    &__rights {
      border-top: 0;
      padding-right: 0px;
      padding-left: 0px;
      &--text {
        @include font(700, 14px, 26px);
        width: 320px;
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }
  }
  .social {
    padding-bottom: 60px;
    &__list {
      padding-top: 12px;
      margin-bottom: 40px;
    }
    &__contact {
      @include font(700, 16px, 186%);
      padding-bottom: 60px;
    }
  }
}
