.footer {
  background-color: var(--main-theme-color);
  &__contact {
    @include font(700, 12px, 186%);
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
    &--link {
      color: var(--secondary-color);
      text-decoration: none;
    }
  }
  &__rights {
    width: 100%;
    border-top: 1px solid var(--border-color);
    padding-right: 0px;
    padding-left: 0px;
    &--text {
      @include font(700, 14px, 152%);
      @extend %flexCenter;
      width: 160px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: var(--rights-color);
      padding-top: 16px;
      padding-bottom: 62px;
    }
  }
  &__list {
    list-style-type: none;
  }
  &__item {
    &--title {
      @include font(700, 34px, 41px);
      margin-bottom: 42px;
      color: var(--secondary-color);
      text-transform: uppercase;
    }
    &--subtitle {
      @include font(700, 18px, 22px);
      color: var(--secondary-color);
      width: 232;
      word-wrap: normal;
      text-transform: uppercase;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.social {
  padding-bottom: 38px;
  &__list {
    @include grid(3, 3, 28px);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
  }
  &__link {
    @extend %flexCenter;
    border-radius: 50%;
    padding: 0px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: var(--accent-color);
    fill: var(--main-theme-color);
    &:hover,
    &:focus {
      fill: var(--secondary-color);
    }
    &--logo {
      @extend %flexCenter;
    }
  }
}
